/* Slike */
#domov_galerija .vrtiljak {
    overflow: hidden;
    position: relative;
    width: 100%;
    max-width: 800px;
    margin: auto;
 }
 
 #domov_galerija .slike {
    display: flex;
    transition: transform 0.5s ease-in-out;
 }
 
 #domov_galerija .slike img {
    width: 790px;
    max-width: 100%;
    border-radius: 5px;
    margin: 0 5px;
 }
 
 #domov_galerija .prev, #domov_galerija .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 1;
 }
 
 #domov_galerija .prev {
    left: 10px;
 }
 
 #domov_galerija .next {
    right: 10px;
 }
 
 #domov_galerija .gumb {
    text-align: center;
    margin-top: 20px;
 }
 
 #domov_galerija a {
    padding: 10px 20px;
    text-decoration: none;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    text-align: center;
    display: inline-block;
 }

 /* Paketi */
 .vrstica{
   display: flex;
   flex-wrap: wrap;
   gap: 10px;
}

.stolpec{
   flex-grow: 1;
   flex-basis: 200px;
   box-sizing: border-box;
   border: 2px solid rgba(109, 94, 95, 0.188);
   box-shadow: 10px 10px 5px lightblue;
   margin-right: 20px;
   margin-left: 20px;
   padding: 10px;
   margin-bottom: 30px;
}

#domov_programi p {
   text-align: left;
   font-size: 1.2em;
   line-height: 1.6;
}

#domov_programi .gumb {
   text-align: center;
   margin-top: 20px;
}

#domov_programi a{
   color: black;
   text-decoration: none;
}

#domov_programi .link{
   padding: 10px 20px;
   text-decoration: none;
   background-color: #007bff;
   color: white;
   border-radius: 5px;
   text-align: center;
   display: inline-block;
}

/* Lokacije */
#domov_lokacije {
    padding: 40px 20px;
    text-align: left;
 }
 
 #domov_lokacije .container {
    max-width: 1200px;
    margin: 0 auto;
 }
 
 #domov_lokacije h2 {
    text-align: center;
    margin-bottom: 20px;
 }
 
 #domov_lokacije p {
    font-size: 1.3em;
    margin-bottom: 20px;
    line-height: 1.6;
 }
 
 #domov_lokacije .gumb {
    text-align: center;
    margin-top: 20px;
 }
 
 #domov_lokacije a {
    padding: 10px 20px;
    text-decoration: none;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    text-align: center;
    display: inline-block;
 }

 /* O meni */
 section {
   padding: 50px 0;
   text-align: center;
 }
 
#domov_o_meni {
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   justify-content: center;
   margin-left: 20px;
   margin-right: 20px;
   height: auto;
   overflow: hidden;
}
 
#domov_o_meni img {
   flex: 1;
   flex-shrink: 200px;
   height: auto;
   width: 100%;
   max-width: 100%;
   max-height: 100%;
   margin-left: 5px;
}
 
#domov_o_meni .napis_domov {
   flex: 1;
   flex-shrink: 200px;
   padding-left: 20px;
   color: black;
   display: flex;
   flex-direction: column;
   justify-content: center;
   margin-right: 5px;
}

#domov_o_meni .napis_domov h2 {
   font-size: 3em;
}

#domov_o_meni .napis_domov p {
   text-align: justify;
   font-size: 1.3em;
}
 
#domov_o_meni a {
   margin-top: 20px;
   padding: 10px 20px;
   text-decoration: none;
   background-color: #007bff;
   color: white;
   border-radius: 5px;
   text-align: center;
   width: auto;
   display: block;
   margin-left: auto;
   margin-right: auto;
}

/* menu */

* {
   margin: 0;
   padding: 0;
}

body {
   min-height: 100vh;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav {
   background-color: white;
   box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}

nav ul  {
   width: 100%;
   list-style: none;
   display: flex;
   justify-content: flex-end;
   align-items: center;
}

nav li {
   height: 50px;
}

nav a {
   height: 100%;
   padding: 0 30px;
   text-decoration: none;
   display: flex;
   align-items: center;
   color: black;
}

nav li:first-child {
   margin-right: auto;
}

.sidebar {
   position: fixed;
   top: 0;
   right: 0;
   height: 100vh;
   width: 250px;
   z-index: 999;
   background-color: rgba(255, 255, 255, 0.2);
   box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
   display: none;
   flex-direction: column;
   align-items: flex-start;
   justify-content: flex-start;
   backdrop-filter: blur(10px);
}

.sidebar li {
   width: 100%;
}

.sidebar a {
   width: 100%;
}

.menu-button{
   display: none;
}

@media(max-width: 800px) {
   .hideOnMobile {
      display: none;
   }
   .menu-button {
      display: block;
   }
}

@media(max-width: 400px) {
   .sidebar {
      width: 100%;
   }
}

