#o_meni{
   margin-top: 50px;
}

#o_meni p{
    font-size: 1.3em; 
 }

#o_meni  .columns {
   column-count: 3;
   column-gap: 70px;
   column-rule: 1px solid #000;
   margin: 30px auto;
}
 
 #o_meni img{
    display: block;
    margin: 0 auto;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
 }

 @media(max-width: 1000px){
   #o_meni  .columns {
      column-count: 1;
   }   
 }