#programi h1 {
    text-align: center;
    margin: 20px 0;
    color: #333;
 }
 
 #programi table {
    width: 90%;
    margin: 20px auto;
    border-collapse: collapse;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #fff;
 }
 
 #programi th, td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
 }
 
 #programi th, td:nth-child(1) {
    font-weight: bold;
    text-transform: uppercase;
 }
 
 #programi th {
    background-color: #dddbdb;
    color: #333;
 }
 
 #programi tr:hover {
    background-color: #f1f1f1;
 }
 
 #programi ul {
    padding-left: 20px;
    margin: 0;
 }
 
 #programi li {
    margin-bottom: 5px;
 }