/*
#programi h1 {
    text-align: center;
    margin: 20px 0;
    color: #333;
 }
 
 #programi table {
    width: 90%;
    margin: 20px auto;
    border-collapse: collapse;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #fff;
 }
 
 #programi th, td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
 }
 
 #programi th, td:nth-child(1) {
    font-weight: bold;
    text-transform: uppercase;
 }
 
 #programi th {
    background-color: #dddbdb;
    color: #333;
 }
 
 #programi tr:hover {
    background-color: #f1f1f1;
 }
 
 #programi ul {
    padding-left: 20px;
    margin: 0;
 }
 
 #programi li {
    margin-bottom: 5px;
 }*/

 #cont {
   width: 90%;
   height: 100%;
   margin-inline: auto;
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
   gap: 50px;
   margin-top: 50px;
   margin-bottom: 20px;
}

#cont img{
   max-width: 100%;
   display: block;
}

.card {
   display: grid;
   grid-template-rows: subgrid;
   grid-row: span 3;
   gap: 10px;
   background-color: rgba(255, 255, 255, 255, 0.3);
   border-radius: 15px;
   box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
   overflow: hidden;
   padding: 50px;
   margin-bottom: 50px;
   color: #fff;
   font-size: 1.2em;
   position: relative;
   width: 100%;
   transition: transform 0.5s ease, box-shadow 0.5s ease;
}

.card ul li{
   color: black;
}

.card h2 {
   color: black;
   margin: 0 0 10px;
   font-size: 2em;
}

.card p {
   color: black;
   margin: 0;
   font-size: 1.3em;
}

.card::before, .card::after {
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   border-radius: 15px;
   opacity: 0;
   transition: opacity 0.5s ease;
}

.card::before {
   background: linear-gradient(45deg, rgba(0, 255, 255, 0.2), rgba(255, 0, 255, 0.2));
   filter: blur(10px);
   z-index: -1;
}

.card::after {
   background: linear-gradient(45deg, rgba(0, 255, 255, 0.5), rgba(255, 0, 255, 0.5));
   filter: blur(20px);
   z-index: -2;
}

.card:hover a{
   color: rgb(248, 95, 166);
}

.card:hover {
   transform: scale(1.1);
   box-shadow: 0 0 25px rgba(0, 255, 255, 0.5), 0 0 50px rgba(255, 0, 255, 0.5);
}

.card:hover::before, .card:hover::after {
   opacity: 1;
}

@media(max-width: 400px){
   #cont {
      grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
   }
   header h1 {
      font-size: 15px;
   }
}