#politika_zasebnosti section{
    text-align: left;
    padding: 10px;
 }
 
 #politika_zasebnosti h1{
    text-align: center;
    font-size: 2.5em;
 }
 
 #politika_zasebnosti h2{
    text-align: left;
 }
 
 #politika_zasebnosti {
    padding: 50px 0;
 }
 
 #politika_zasebnosti .container {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
 }
 
 #politika_zasebnosti h1 {
    font-family: 'Mulish', sans-serif;
    font-weight: 700;
    color: #343a40;
    margin-top: 0;
    margin-bottom: 20px;
 }
 
 #politika_zasebnosti section {
    margin-bottom: 30px;
 }
 
 #politika_zasebnosti h2 {
    font-family: 'Mulish', sans-serif;
    font-weight: 700;
    color: #343a40;
    margin-top: 0;
    margin-bottom: 10px;
 }
 
 #politika_zasebnosti h3 {
    font-family: 'Mulish', sans-serif;
    font-weight: 700;
    color: #343a40;
    margin-top: 0;
    margin-bottom: 10px;
 }
 
 #politika_zasebnosti h4 {
    font-family: 'Mulish', sans-serif;
    font-weight: 700;
    color: #343a40;
    margin-top: 0;
    margin-bottom: 5px;
 }
 
 #politika_zasebnosti p, #politika_zasebnosti ol, #politika_zasebnosti ul {
    font-family: 'DM Sans', sans-serif;
    font-size: 16px;
    color: #343a40;
    line-height: 1.6;
 }
 
 #politika_zasebnosti ol, #politika_zasebnosti ul {
    padding-left: 20px;
 }