* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   line-height: 1.6;
   background-color: #f4f4f4;
   font-family: "Mulish", sans-serif;
}

.container {
   max-width: 1200px;
   margin: auto;
   padding: 0 20px;
   box-sizing: border-box;
}

/* Glava */
header {
   background-color: black;
   color: #fff;
   padding: 20px 0;
   height: 130px;
}

header a{
   text-decoration: none;
   color: white;
}

header a:hover{
   color: white;
}

.logo {
   position: absolute;
   top: 15px;
   left: 20px;
   width: 100px;
   height: auto;
}

header h1 {
   position: absolute;
   left: 150px;
   width: auto;
}

header nav {
   position: absolute;
   right: 0;
   top: 50px;
}

header nav ul {
   list-style: none;
   text-align: center;
}

header nav ul li {
   display: inline-block;
   margin-right: 20px;
}

header nav ul .active a,
header nav ul a:active{
   color: rgb(248, 95, 166);
}

header nav ul .active a:hover{
   color: rgb(248, 95, 166);
}

header nav ul li a {
   color: #fff;
   font-size: 120%;
   text-decoration: none !important;
}

header nav ul li a:hover{
   color: #c2c1c1;
}

section {
   padding: 50px 0;
   text-align: center;
 }

 /* Noga */
footer {
   background-color: black;
   color: #fff;
   padding: 20px 0;
}

footer h2{
   text-align: left;
   font-size: 2em;
   margin-bottom: 20px;
}

footer p{
   font-size: 1.1em;
}

footer .noga{
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
}

footer .desno,
footer .levo{
   flex: 1;
}

footer .levo {
   text-align: left;
   padding-left: 20px;
}

footer .desno {
   text-align: center;
   font-size: 1em;
}

footer .container{
   height: auto;
}
footer .desno nav {
   display: flex;
   align-items: center;
   height: 100%;
}

footer .desno nav ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
}

footer .desno nav ul li {
   margin-bottom: 10px;
   margin-left: 70px;
}

footer nav a{
   color: #fff;
   font-size: 1.1em;
}

footer nav ul li {
   display: inline-block;
   margin-right: 20px;
}

footer nav a:hover{
   color: #fff;
   text-decoration: none;
}

footer .pravice{
   display: flex;
   justify-content: center;
   margin: 0;
   padding: 0;
}

/* SIDEBAR */
.sidebar {
   position: fixed;
   top: 0;
   right: 0;
   height: 100vh;
   width: 250px;
   z-index: 999;
   /*background-color: rgba(255, 255, 255, 0.2);*/
   /*background-color: rgba(255, 255, 255, 0.8);*/
   box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
   display: none;
   flex-direction: column;
   align-items: center;
   justify-content: flex-start;
   /*backdrop-filter: blur(90px);*/
   background: rgba(255, 255, 255, 0.9);
}

.sidebar li {
   width: 100%;
   padding-bottom: 10px;
}

.sidebar a {
   width: 100%;
   font-size: 30px;
   color: black;
}

.menu-button{
   display: none;
}

.close {
   fill: black;
}

@media(max-width: 800px) {
   .hideOnMobile {
      display: none;
   }
   .menu-button {
      display: block;
   }
}

@media(max-width: 400px) {
   .sidebar {
      width: 100%;
   }
}