body.no-scroll {
    overflow: hidden;
  }

  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    background-color: #333;
    color: white;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
    z-index: 1000;
  }

  .sidebar.open {
    transform: translateX(0);
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 999;
  }

  .overlay.show {
    display: block;
  }
  

  /* SIDEBAR */
.sidebar {
   position: fixed;
   top: 0;
   right: 0;
   height: 100vh;
   width: 250px;
   z-index: 999;
   /*background-color: rgba(255, 255, 255, 0.2);*/
   /*background-color: rgba(255, 255, 255, 0.8);*/
   box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
   display: none;
   flex-direction: column;
   align-items: center;
   justify-content: flex-start;
   /*backdrop-filter: blur(90px);*/
   background: rgba(255, 255, 255, 0.9);
}

.sidebar li {
   width: 100%;
   padding-bottom: 10px;
}

.sidebar a {
   width: 100%;
   font-size: 30px;
   color: black;
}

.menu-button{
   display: none;
}

.close {
   fill: black;
}
  